<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <add key="NServiceBus/Outbox" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="Data Source=GH-17LK542;Initial Catalog=shared;Integrated Security=SSPI;User ID=sa;Password=mastercard@15;" />
    <add name="NServiceBus/Persistence" connectionString="Data Source=GH-17LK542;Initial Catalog=shared;Integrated Security=SSPI;User ID=sa;Password=mastercard@15;" />
  </connectionStrings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add 
        Assembly="Shared" 
        Endpoint="Sender" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <AuditConfig QueueName="audit" />
</configuration>