<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NServiceBus/Outbox" value="true"/>
  </appSettings>
  <!--startcode SenderConnectionStrings-->
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="Data Source=dbserver;Initial Catalog=shared;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="NServiceBus/Persistence" connectionString="Data Source=dbserver;Initial Catalog=shared;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--endcode-->
</configuration>